<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8"> 
  <title> X </title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1> Your family is causing you anxiety </h1>
   <p id="advice"> <%= @get_advice %> </p>
   <img src ="images/760x350_beach_Pod-3.jpg" >
 </body>
</html>