 <!DOCTYPE html>
<html>
<head>
<title>Calm Down</title>
  <meta charset="UTF-8">
  <link type= "text/css" rel= "stylesheet" href= "css/style.css">
</head>
<body>
  <h1>It's time to chill out!</h1>

<h1>Feeling stressed? Let us help you calm down!</h1>
<p>This is a paragraph.</p>
<form method="POST" action="/social">
  
  <p> Choose your stressor</p>
  <input type ="radio" name="cat" value="social"> Social
  <br/>
    
  <input type="radio" name="cat" value="school"> School
  <br/>
  
  <input type="radio" name="cat" value="family"> Family
  <br/>
  
  <input type="radio" name="cat" value="other"> Other
  <br/>
  
  <input type="radio" name="level" value="1">
  
  <input type="radio" name="level" value="2">
  
  <input type="radio" name="level" value="3">
  
  <input type="radio" name="level" value="4">
  
  <input type="submit" value="submit">
  
  </form>
</body>
</html> 