 <!DOCTYPE html>
<html>
<head>
<title>Don't Worry, Be Happy</title>
  <meta charset="UTF-8">
  <link type= "text/css" rel= "stylesheet" href= "css/style.css">
</head>
<body>
<h1>It's time to relax!</h1>
<h2>Everyone gets stressed or anxious from time to time, but sometimes all you need is a good laugh or smile.  Follow these steps to help you feel better!</h2>
<p> Choose a stressor and rate your level of anxiety.</p>
<form method="POST" action="/social">
  
   <img src= "images/social.png" width= "150" height= "75" style="margin-left:70px">
  <img src= "images/school.png" width= "145" height= "65" style="margin-left:95px">
  <img src= "images/family.png" width= "165" height= "70" style="margin-left:125px">
  <img src= "images/other.png" width= "150" height= "75" style="margin-left:145px">
  <br/>
  
  <input type ="radio" class="horizontal2" name="cat" value="social" style="margin-left:120px">
 
 
    
  <input type="radio" class="horizontal2" name="cat" value="school">
  
  
  <input type="radio" class="horizontal2" name="cat" value="family" style="margin-left:20px">
  
  
  <input type="radio" class="horizontal2" name="cat" value="other" style="margin-left:40px">
  <br/> <br/> <br/> <br/> <br/>
 

 
  <input type="radio" class="horizontal" name="level" value="1" style="margin-left:260px">
  
  <input type="radio" class="horizontal" name="level" value="2">
  
  <input type="radio" class="horizontal" name="level" value="3" style="margin-left:70px">
  
  <input type="radio" class="horizontal" name="level" value="4" style="margin-left:15px">
  
    <img src= "images/Final_bar.png" width= "850" height= "200" style="margin-left:175px">
  <br/>

  <input type="submit" value="Submit">
  
  </form>
</body>
</html> 