<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8"> 
  <title> X </title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1> Dealing with anxiety </h1>
   <p id="advice"> <%= @get_advice %> </p>
   <h2> Helpful Links </h2>
   <p> Here are some helpful links to websites and videos that will help you manage your stress and anxiety: </p>
   <ul>
     <li> 
       <a href="http://www.webmd.com/balance/stress-management/stress-management-relieving-stress">www.webmd.com</a> </li>
     <li> <a href="http://www.heart.org/HEARTORG/GettingHealthy/StressManagement/FourWaystoDealWithStress/Four-Ways-to-Deal-with-Stress_UCM_307996_Article.jsp">www.heart.org</a> </li>
     <li> <a href="https://www.youtube.com/watch?v=0nijsIxEN0g">www.youtube.com</a> </li>
     <li> <a href="https://www.youtube.com/watch?v=jsOqcwcy2mI">www.youtube.com</a> </li>
   </ul>
   <img src="http://s3.amazonaws.com/calm2013-backgrounds/backgrounds/summer_field.jpg" aklt="feild" height="400" width="800">
     <br/>
   <br/>
   <p> General Tips: </p>
<ul>
<li>Take a time-out. Practice yoga, listen to music, meditate, get a massage, or learn relaxation techniques. Stepping back from the problem helps clear your head. </li>
 <li>Take deep breaths. Inhale and exhale slowly. Count to 10 slowly. Repeat, and count to 20 if necessary.</li>
 <li>Do your best. Instead of aiming for perfection, which isn't possible, be proud of however close you get.     </li>
 <li>Accept that you cannot control everything. Put your stress in perspective: Is it really as bad as you think  ? </li>
<li>Welcome humor. A good laugh goes a long way.</li>
<li>Maintain a positive attitude. Make an effort to replace negative thoughts with positive ones.</li>
<li>Eat well-balanced meals: Do not skip any meals. Do keep healthful, energy-boosting snacks on hand. </li>
<li>Get enough sleep. When stressed, your body needs additional sleep and rest.</li>
<li>Exercise daily to help you feel good and maintain your health. Check out the fitness tips below.</li>
<li>Get involved. Volunteer or find another way to be active in your community, which creates a support network and gives you a break from everyday stress.</li>
<li>Talk to someone. Tell friends and family you’re feeling overwhelmed, and let them know how they can help you. Talk to a physician or therapist for professional help.</li>
<li>Learn what triggers your anxiety. Is it work, family, school, or something else you can identify? Write in a journal when you’re feeling stressed or anxious, and look for a pattern.</li>        
  </ul>
   
 </body>
</html>