<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8"> 
  <title> X </title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1> X </h1>
   <p> X </p>
   <img> X </img> 
 </body>
</html>