<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8"> 
  <title> School </title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1> Dealing with the stresses of school </h1>
   <p id="advice"> <%= @get_advice %> </p>
   <p>
   The school year can be hard on anyone. Academic stress can build upon self-esteem issues, your family, friends and even yourself. There are a variety of school related stressors, including pressure, time management, grades, and lack of sleep.  However, the most important thing is to put your health and happiness first.</p>
     <br/>
     <br/>
     Here are some pictures and videos to help you out!
     
     <br/>
     
     <img src= "http://carmichaeldigitalprojects.org/politicsofinfo/wp-content/uploads/2014/04/my-french-teacher_o_1191937.jpg" width= "325" height= "250" style="">
       <img src= "http://chelseahorton.weebly.com/uploads/1/3/9/1/13914738/816445968.jpg" width= "300" height= "250" style="">
     <img src= "http://www.quickmeme.com/img/68/6811cb0c35c42e320a674c5d2ebfa80f2eedfc4752126dfd6eb823bd2fd9a928.jpg" width= "300" height= "250" style="">
     <img src= "http://whyareyoustupid.com/wp-content/uploads/teacher-meme-funny-pictures.jpg" width= "150" height= "300" style="">
     
     <br/>
     <a href ="https://www.youtube.com/watch?v=FOWziD1DFXc" style="margin-left:130px"> Dealing with Stress and Anxiety</a>
     <a href ="https://www.youtube.com/watch?v=EQ1fRj6cFvE" style="margin-left:130px"> Back to School Anxiety</a>
     <a href ="https://www.youtube.com/watch?v=l34htuGe0Bw" style="margin-left:130px"> I got a bad grade..Help!</a>
   <br/>
   <br/>
   <p> General Tips: </p>
<ul>
<li>Take a time-out. Practice yoga, listen to music, meditate, get a massage, or learn relaxation techniques. Stepping back from the problem helps clear your head. </li>
 <li>Take deep breaths. Inhale and exhale slowly. Count to 10 slowly. Repeat, and count to 20 if necessary.</li>
 <li>Do your best. Instead of aiming for perfection, which isn't possible, be proud of however close you get.     </li>
 <li>Accept that you cannot control everything. Put your stress in perspective: Is it really as bad as you think  ? </li>
<li>Welcome humor. A good laugh goes a long way.</li>
<li>Maintain a positive attitude. Make an effort to replace negative thoughts with positive ones.</li>
<li>Eat well-balanced meals: Do not skip any meals. Do keep healthful, energy-boosting snacks on hand. </li>
<li>Get enough sleep. When stressed, your body needs additional sleep and rest.</li>
<li>Exercise daily to help you feel good and maintain your health. Check out the fitness tips below.</li>
<li>Get involved. Volunteer or find another way to be active in your community, which creates a support network and gives you a break from everyday stress.</li>
<li>Talk to someone. Tell friends and family you’re feeling overwhelmed, and let them know how they can help you. Talk to a physician or therapist for professional help.</li>
<li>Learn what triggers your anxiety. Is it work, family, school, or something else you can identify? Write in a journal when you’re feeling stressed or anxious, and look for a pattern.</li>        
  </ul>
   <img> 
 </body>
</html>