<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8"> 
  <title> social_1 </title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1> Calm Down </h1>
   <p> Eat a delious snack </p>
   <img>   </img> 
 </body>
</html>