<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8"> 
  <title> Social </title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1> Dealing with social anxiety </h1>
   <p id="advice"> <%= @get_advice %> </p>
   <img src ="images/summer_field.jpg" width=500 length=300> 
   <img src ="images/tumblr_n3ct2ztRes1sg71ano1_500_NEW.png">
   <img src ="images/images-1.jpg">
   <img src ="images/Screen-Shot-2014-03-19-at-10.17.45-AM_NEW.png">
   <img src ="images/images.jpg" width=400 length=240>
   <img src ="images/Thum.png" >
   <br/>
   <a href ="http://www.rookiemag.com/2015/06/how-to-get-out-of-your-head/">Click Me For More Advice </a>
   <br/>
   <a href ="http://ridertiger.hubpages.com/hub/off-negative-emotions">Click Me For Even More Advice </a>
   <br/>
   <a href ="https://www.youtube.com/watch?v=pZ7XIWgseJ0">Click Me For Calming Music </a>
   <br/>
   <a href="https://www.youtube.com/watch?v=IlJI-GqB-6Y">Click Here For A Funny Video To Help Take Your Mind Off Things </a>
     <br/>
   <br/>
   <p> General Tips: </p>
<ul>
<li>Take a time-out. Practice yoga, listen to music, meditate, get a massage, or learn relaxation techniques. Stepping back from the problem helps clear your head. </li>
 <li>Take deep breaths. Inhale and exhale slowly. Count to 10 slowly. Repeat, and count to 20 if necessary.</li>
 <li>Do your best. Instead of aiming for perfection, which isn't possible, be proud of however close you get.     </li>
 <li>Accept that you cannot control everything. Put your stress in perspective: Is it really as bad as you think  ? </li>
<li>Welcome humor. A good laugh goes a long way.</li>
<li>Maintain a positive attitude. Make an effort to replace negative thoughts with positive ones.</li>
<li>Eat well-balanced meals: Do not skip any meals. Do keep healthful, energy-boosting snacks on hand. </li>
<li>Get enough sleep. When stressed, your body needs additional sleep and rest.</li>
<li>Exercise daily to help you feel good and maintain your health. Check out the fitness tips below.</li>
<li>Get involved. Volunteer or find another way to be active in your community, which creates a support network and gives you a break from everyday stress.</li>
<li>Talk to someone. Tell friends and family you’re feeling overwhelmed, and let them know how they can help you. Talk to a physician or therapist for professional help.</li>
<li>Learn what triggers your anxiety. Is it work, family, school, or something else you can identify? Write in a journal when you’re feeling stressed or anxious, and look for a pattern.</li>        
  </ul>

 </body>
</html>