body {
    background-color: #f0f8ff;
}

.horizontal
{
margin-right: 15%;
}

h1 {
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
}
h2 {
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
}
body {
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
}




